# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# # VS Code settings (optional)
# .vscode/

# # Environment files (optional)
# .env
# *.env
venv

# Ignore the PMS folder

pms.log

security.log

parking_detector.log